<div class="contact-card">
  <div class="avatar">
    <img src="https://via.placeholder.com/50" alt="avatar" />
  </div>
  <div class="contact-info">
    <h3>Anil</h3>
    <p class="status">Online - Last seen, 2:02pm</p>
  </div>
  <div class="actions">
    <i class="icon phone-icon"></i>
    <i class="icon video-icon"></i>
  </div>

  <div class="chat-body" id="chatBody">
    <div *ngFor="let message of messages" [ngClass]="{'message sent': message.type === 'sent'}">
      <p *ngIf="!message.isFile">{{ message.content }}</p>
      <img *ngIf="message.isFile && message.fileType === 'image'" [src]="message.fileData" alt="uploaded image" class="uploaded-image" />
      <a *ngIf="message.isFile && message.fileType !== 'image'" [href]="message.fileData" target="_blank">{{ message.fileName }}</a>
      <span class="timestamp">{{ message.timestamp }}</span>
    </div>
  </div>

  <!-- Input Container -->
  <div class="input-container">
    <span class="icon" (click)="fileInput.click()">
      <img src="../../../../../assets/icons/paper-clip-Chat.png" />
    </span>
    <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;" />
    <input type="text" placeholder="Escribe un mensaje..." [(ngModel)]="newMessage" (keyup.enter)="sendMessage()" />
    <div class="microphone-btn" (click)="sendMessage()">
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path d="M12 14c1.66 0 3-1.34 3-3V5c0-1.66-1.34-3-3-3S9 3.34 9 5v6c0 1.66 1.34 3 3 3zm4.3-3c0 2.52-1.84 4.57-4.3 4.93V21h-2v-5.07c-2.46-.36-4.3-2.4-4.3-4.93H5c0 3.02 2.24 5.5 5.17 5.93V23h3.66v-2.07C16.76 16.5 19 14.02 19 11h-2.7z" />
      </svg>
    </div>
  </div>
</div>
