<div class="container">
    <app-search-bar></app-search-bar>
    <div class="section">
      <h2>Groups</h2>
      <ul class="chat-list">
        <li class="chat-item">
          <div class="chat-info">
            <span class="chat-name">Friends Forever</span>
            <span class="chat-time">Today, 9:52pm</span>
          </div>
          <div class="chat-message">Hahahaha!</div>
          <span class="chat-count">4</span>
        </li>
        <li class="chat-item">
          <div class="chat-info">
            <span class="chat-name">Mera Gang</span>
            <span class="chat-time">Yesterday, 12:31pm</span>
          </div>
          <div class="chat-message">Kyuuuu???</div>
        </li>
        <li class="chat-item">
          <div class="chat-info">
            <span class="chat-name">Hiking</span>
            <span class="chat-time">Wednesday, 9:12am</span>
          </div>
          <div class="chat-message">It's not going to happen</div>
        </li>
      </ul>
    </div>
  
    <div class="section">
      <h2>People</h2>
      <ul class="chat-list">
        <li class="chat-item">
          <div class="chat-info">
            <span class="chat-name">Anil</span>
            <span class="chat-time">Today, 9:52pm</span>
          </div>
          <div class="chat-message">April fool's day</div>
          <span class="status-icon">✔✔</span>
        </li>
        <li class="chat-item">
          <div class="chat-info">
            <span class="chat-name">Chuuthiya</span>
            <span class="chat-time">Today, 12:11pm</span>
          </div>
          <div class="chat-message">Baag</div>
          <span class="chat-count">1</span>
        </li>
        <li class="chat-item">
          <div class="chat-info">
            <span class="chat-name">Mary ma'am</span>
            <span class="chat-time">Today, 2:40pm</span>
          </div>
          <div class="chat-message">You have to report it...</div>
          <span class="chat-count">1</span>
        </li>
        <li class="chat-item">
          <div class="chat-info">
            <span class="chat-name">Bill Gates</span>
            <span class="chat-time">Yesterday, 12:31pm</span>
          </div>
          <div class="chat-message">Nevermind bro</div>
          <span class="chat-count">5</span>
        </li>
        <li class="chat-item">
          <div class="chat-info">
            <span class="chat-name">Victoria H</span>
            <span class="chat-time">Wednesday, 11:12am</span>
          </div>
          <div class="chat-message">Okay, brother. let's see...</div>
          <span class="status-icon">✔✔</span>
        </li>
      </ul>
    </div>
  </div>
  