<div class="sidebar">
    <div class="profile">
      <img src="../../../../../assets/icons/usersChat.png" alt="Profile Picture" />
    </div>
    <nav>
      <div class="nav-item">
        <img src="../../../../../assets/icons/homeChat.png" alt="Home" />
      </div>
      <div class="nav-item">
        <img src="../../../../../assets/icons/messageChat.png" alt="Messages" />
      </div>
      <div class="nav-item">
        <img src="../../../../../assets/icons/notificationChat.png" alt="Notifications" />
      </div>
      <div class="nav-item">
        <img src="../../../../../assets/icons/settingsChat.png" alt="Settings" />
      </div>
      <div class="nav-item">
        <img src="../../../../../assets/icons/logOutChat.png" alt="Log Out" />
      </div>
    </nav>
  </div>
  